In [1]:
import pandas as pd

In [2]:
student_dict_lsit = [
    {'name':'kang','age':30,'address':'경기도 고양시 일산동구'},
    {'name':'kim','age':23,'address':'서울시 강남구 역삼동'},
    {'name':'hong','age':22,'address':'서울시 양천구 목동'},
    {'name':'lee','age':31,'address':'서울시 영등포구 양평동'},
    {'name':'hhh','age':27,'address':'서울시 노원구 상계동'}    
                    ]

df = pd.DataFrame(student_dict_lsit)
df

   name  age       address
0  kang   30  경기도 고양시 일산동구
1   kim   23   서울시 강남구 역삼동
2  hong   22    서울시 양천구 목동
3   lee   31  서울시 영등포구 양평동
4   hhh   27   서울시 노원구 상계동

In [3]:
df.head(3)

   name  age       address
0  kang   30  경기도 고양시 일산동구
1   kim   23   서울시 강남구 역삼동
2  hong   22    서울시 양천구 목동

In [4]:
df.tail(2)

  name  age       address
3  lee   31  서울시 영등포구 양평동
4  hhh   27   서울시 노원구 상계동

In [5]:
df[['age','name','address']]

   age  name       address
0   30  kang  경기도 고양시 일산동구
1   23   kim   서울시 강남구 역삼동
2   22  hong    서울시 양천구 목동
3   31   lee  서울시 영등포구 양평동
4   27   hhh   서울시 노원구 상계동

In [21]:
#파일로 저장하기.
df.to_csv('student_data.csv', encoding='utf-8-sig')

In [9]:
#파일로 저장하기.
df.to_csv('student_data.csv' , index=True, header=True)

In [10]:
df.to_csv('student_data.csv' , index=False, header=False)

In [15]:
student_list = [
    ['carami',30,],
    ['kim',20,'고양시'],
    ['hong',33,'서울시'],
    ['lee',24,'광주시'],
    ['kang',30,'대전시'],
]
colum_list = ['name','age','address']
df = pd.DataFrame.from_records(student_list,columns=colum_list)

In [16]:
df

     name  age address
0  carami   30    None
1     kim   20     고양시
2    hong   33     서울시
3     lee   24     광주시
4    kang   30     대전시

In [18]:
df.to_csv('student_list.txt',na_rep='_' )

In [19]:
df.to_csv('student_list.csv', index=False, header=False,na_rep='_' )

In [20]:
df.to_csv('student_list.txt',na_rep='_', header=['이름','나이','주소'] )