In [6]:
score = 80

if score >= 60:
    print('합격')
    print("축하합니다.")

합격
축하합니다.

In [23]:
score = int(input('점수를 입력하세요!!'))

if score >= 60:
    print('합격')
    print("축하합니다.")
else:
    print('다음기회에~~')

점수를 입력하세요!!88
합격
축하합니다.

In [13]:
score = 88

if score >= 90:
    print('합격')
    print("축하합니다.")
elif score >60 and score <90:
    print('good!!')
else:
    print('다음기회에~~')

good!!

In [15]:
score = 88

if score >= 90:
    print('합격')
    print("축하합니다.")
elif 90 > score >60:
    print('good!!')
else:
    print('다음기회에~~')

good!!

In [16]:
if score < 40 :
    pass

In [18]:
input_str = input()

print(input_str)

23
23

In [29]:
#숫자 두 개를 입력받으려면??
kor, math = input('국어, 수학 점수를 입력하세요.').split()
print(kor + math)

국어, 수학 점수를 입력하세요.90 100
90100

In [27]:
#숫자 두 개를 입력받으려면??
kor, math = input('국어, 수학 점수를 입력하세요.').split()
print(int(kor) + int(math))

# map 이용
kor, math = map(int,input('국어, 수학 점수를 입력하세요.').split())
print(kor + math)

국어, 수학 점수를 입력하세요.90 100
190
국어, 수학 점수를 입력하세요.90 100
190

In [30]:
s1 = (1,2,3,4,5)
for a in s1 :
    print(a)

1
2
3
4
5

In [31]:
s2 = {1,2,3,4,5}
for a in s1 :
    print(a)

1
2
3
4
5

In [32]:
d1 = {'a':10,'b':20,'c':30}
for i in d1:
    print(i)

a
b
c

In [33]:
for key, value in d1.items():
    print(key, value)

a 10
b 20
c 30

In [35]:
for i in range(5):
    print(i,'hello!!')

0 hello!!
1 hello!!
2 hello!!
3 hello!!
4 hello!!

In [36]:
for i in range(5,12):
    print(i,'hello!!')

5 hello!!
6 hello!!
7 hello!!
8 hello!!
9 hello!!
10 hello!!
11 hello!!

In [37]:
for i in range(5,11,2):
    print(i,'hello!!')

5 hello!!
7 hello!!
9 hello!!

In [38]:
for i in range(10,5,-1):
    print(i,'hello!!')

10 hello!!
9 hello!!
8 hello!!
7 hello!!
6 hello!!

In [39]:
for i in reversed(range(5)):
    print(i,'hello!!')

4 hello!!
3 hello!!
2 hello!!
1 hello!!
0 hello!!

In [40]:
for i in 'python':
    print(i)

p
y
t
h
o
n

In [41]:
b

*
**
***
****

In [42]:
for i in range(10):
    if i == 5 :
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [43]:
for i in range(10):
    if i == 5 :
        break
    print(i)

0
1
2
3
4

In [50]:
squre = [i**2 for i in [1,2,3,4,5]]
print(squre)

[1, 4, 9]

In [51]:
squre = [i**2 for i in [1,2,3,4,5] if i > 3]
print(squre)

[16, 25]

In [53]:
scores = {'kang': 50, 'kim': 70, 'hong':40,'lee':20}

grades = {name:'합격' if value>=50 else 
          '불합격' for name,score in scores.items()}
print(grades)

{'kang': '불합격', 'kim': '불합격', 'hong': '불합격', 'lee': '불합격'}