In [3]:
t1 = 1,2,3
print(t1)
print(type(t1))

(1, 2, 3)
<class 'tuple'>

In [5]:
t2 = (1,2,3)
print(type(t2), t2)

<class 'tuple'> (1, 2, 3)

In [11]:
t3 = 1,
print(type(t3), t3)
t3[0] = 10

<class 'tuple'> (1,)

TypeError: 'tuple' object does not support item assignment

In [13]:
print(t1.index(2))
t1 = 1,2,3,3,4,4,2,3 
print(t1.count(3))

1
3

In [16]:
print(sum(t1))
print(min(t1))
print(max(t1))

22
1
4

In [18]:
t3 = 'kang','hong','kim'
name1, name2, name3 = t3
print(name1, name2, name3)

kang hong kim

In [19]:
list1 = list(t3)
print(list1)
print(type(list1))

['kang', 'hong', 'kim']
<class 'list'>

In [29]:
t5 = tuple(range(1,20))
print(t5)
print(3 in t5)
print(100 not in t5)
print(len(t5))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19)
True
True
19

In [25]:
test1 = [1,2,3]
3 in test1

True